[
    {lager, [
      {handlers, [
        {lager_file_backend, [
                {file, "log/debug.log"},
                {level, error},
                {formatter, lager_default_formatter},
                {formatter_config,
                    [date, " ", time,
                    "[", severity,  "] ",
                    "<", {log_group, ""}, "> ",
                    "{", {user_id, ""}, "} ",
                    " ", message, "\n"
        ]}]}
      ]}
    ]}
].
